* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}
.nav-menu {
  display: flex;
  gap: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #f1f1f1;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5d5c5c;
  width: 100px;
  height: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.notification-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

/*********  Card Content *********/

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
}
.card-details {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  gap: 10px;
}

.card-details h4 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #5d5c5c;
}

.card-details p {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  color: #5d5c5c;
}
.card-image {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

/*********  Sidebar *********/
.nav-item {
  list-style: none;
}
.container {
  height: 500px;
  display: flex;
  width: 100%;
  margin: 0 0.75rem;
  padding: auto;
}
.nav {
  width: 16%;
  background-color: #5d5c5c;
  padding: 0.75rem;
}
.nav ul {
  list-style: none;
}
.content {
  width: 84%;
  background-color: #f1f1f1;
  padding: 0.7srem;
}

.flex-container {
  display: flex;
  gap: 20px;
  background-color: gray;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;
}

.flex-container_2 {
  display: flex;
}
.tags ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.tags li {
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  background-color: #5d5c5c;
  color: #ffffff;
}
.tags li :hover {
  background-color: #a19f9f;
}
.grid-container {
  display: grid;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.logo {
  text-align: left;
}
.item {
  width: 100px;
  height: 50px;
}
.grid-item {
  width: 320px;
  height: 240px;
}

/* 
  Responsive design
  1. Mobile
  2. Tablet
  3. Desktop

  Mobile: 320px - 480px
  Tablet: 481px - 768px
  Desktop: 769px - 1024px




*/

/* media query */

/* change content to 2 by 6 at max screen of 769 */

/* changed to  3 by 4 @ 1200px */

@media screen and (min-width: 769px) {
  .container {
    flex-direction: column;
  }
  .nav {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
